h1, h2, h3, h4, h5, h6, p {
    font-weight: 200;
}

.stock-link {
    font-weight: 400;
    font-size: 13px;
}

.adobe-stock {
    position: sticky;
    top: 20px;
}

.stock-link-small {
    font-weight: 200;
    font-size: 10px;
    margin-left: 50px;
}

.stock-img {
    margin: 10px 0px 10px;
}